<nav class="index">

  <% if @tags.length > 0 %>
    <div id='filters' class="clearfix">
      <div class="filter-work">WORK</div>
      <div class="tags-container">
        <% @tags.each do |tag| %>
          <div class="tag">
            <a href=".?tagged=<%= tag.name %>"><%=tag.name.upcase%></a>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <span id="logo">Jaime Johnson</span>
  <%= link_to "ABOUT", about_path, class: 'about-link' %>
</nav>
