<nav class="index">

  <% if @tags.length > 0 %>
    <div id='filters' class="clearfix">
      <span class="filter-work">FILTER WORK</span>

      <% @tags.each do |tag| %>
        <a class="tag" href=".?tagged=<%= tag.name %>"><%= tag.name.upcase() %></a>&nbsp;
      <% end %>
    </div>
  <% end %>

  <span id="logo">Jaime Johnson</span>
  <%= link_to "ABOUT", about_path, class: 'about-link' %>
</nav>
