<nav>
  <%= link_to root_path do %>
    Jaime Johnson
  <% end %>

  <% if @referrer=="list"%>
    <a href="/" class="exit">
      <%= image_tag('cross.svg') %>
    </a>
  <% else %>
    <a href="/?grid=photos" class="exit">
      <%= image_tag('cross.svg') %>
    </a>
  <% end %>

</nav>
