<nav class='index scrolled down album'>
  <%= link_to root_path, class: 'logo' do %>
    <span id="logo">Jaime Johnson</span>
  <% end %>

  <%= link_to albums_path, class: 'exit' do %>
    <%= image_tag('cross.svg') %>
  <% end %>
</nav>
