<nav class='index scrolled down'>
  <%= link_to root_path, class: 'logo' do %>
    <span id="logo">Jaime Johnson</span>
  <% end %>

  <a href="#" class="exit trigger-back">
    <%= image_tag('cross.svg') %>
  </a>
</nav>
