<div id='content' class="about">
  <a href="/">
    <div class="about-close"></div>
  </a>
  <div class="about-headline">
    Jaime Johnson
  </div>

  <div class="about-text">
    <img src="">
    About Jaime Johnson
  </div>
</div>
