<div class="home-navbar">

</div>

<div class="home__hero-container">
  <div class="home-logo">Jaime Johnson</div>
  <div>Photographer, NYC/LA</div>
</div>



<div id='content' class="index">
  <%= link_to "About", about_path %>
  <h1>Homepage</h1>



  <div class="grid">
    <div class="grid-sizer"></div>
    <% @albums.each do |album| %>
      <%= link_to album_path(album), class: "grid-item" do %>

        <%= image_tag album.cover_image.url(:thumb) %>

      <% end %>
    <% end %>
  </div>
</div>
