@import 'global';

#content.album {
  height: 100vh;
  
  .swiper-container {
    height: 100%;
  }

  .swiper-slide {
    text-align: center; 
    img {
      max-height: 75%;
      max-width: 70%;
      width: auto;  
      top: 50%;
      position: relative;
      transform: translateY(-50%);
    }
  }

  footer {
    z-index: 1;
    text-align: center;
    height: 5vh;
    position: absolute;
    bottom: 0;
    width: 100%;

    .page-count {
      display: inline-block;
      position: absolute;
      left: $standard-bumper;
    }
    .album-name {
      display: inline-block; 
      font-family: Georgia;
    }
    .next-album {
      display: inline-block;
      position: absolute;
      right: $standard-bumper;
    }
  }
}
