@import 'global';

#content.album {
  height: 100vh;
  
  .swiper-container {
    height: 100%;
  }

  .swiper-slide {
    text-align: center; 
    img {
      max-height: 75%;
      max-width: 70%;
      width: auto;  
      top: 50%;
      position: relative;
      transform: translateY(-50%);
    }
  }

  .swiper-button-prev, .swiper-button-next{
    width: 40px;
    height: 60px;
    background-size: 40px 60px;
  }

  .swiper-button-prev{
    background-image: image-url('swiper-arrow.svg');
    left: 5px;
    @media #{$medium-up} {
      left: 15px;
    }
  }

  .swiper-button-next{
    background-image: image-url('swiper-arrow.svg') !important;
    transform: rotate(180deg);
    right: 5px;
    @media #{$medium-up} {
      right: 15px;
    }
  }

  footer {
    z-index: 1;
    text-align: center;
    height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 1em;

    .page-count {
      display: inline-block;
      position: absolute;
      left: $standard-bumper;
      @include sans-serif;
    }
    #caption {
      display: inline-block; 
      @include serif;
      margin: -10px;
    }
    .next-album {
      text-transform: uppercase;
      @include sans-serif;
      display: inline-block;
      position: absolute;
      right: $standard-bumper;
      border-bottom: 2px solid transparent; 
      transition: all .4s ease-in-out;

      &:hover {
        border-bottom: 2px solid black; 
      }
    }
  }
}
