$standard-bumper: 20px;
$black: #000;

$medium-up: "all and (min-width: 650px)";
$large-up: "all and (min-width: 1000px)";

$mid-transition: 600ms;


@mixin serif {
  font-family: 'Caslon', serif;
}

@mixin sans-serif {
  font-family: 'Avenir Next', sans-serif;
  font-weight: 400;
  padding-top: 3px;
  font-size: 0.8em;
  letter-spacing: 0.5px;
}

