@import 'global';

#content.index {
  header {
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;

    h1 {
      margin: 0;
      font-size: 7em;
      font-weight: 100;
      letter-spacing: -3px;
    }

    h2 {
      font-weight: 100;
    }

    div.header-content {
      color: white;
    }

  }

  /* clear fix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }

  .grid-item,
  .grid-sizer {
    width: 100%;
    @media #{$medium-up} {
      width: 50%;
    }

    @media #{$large-up} {
      width: 25%;
    }
  }

  .grid-item {
    float: left;
    box-sizing: border-box;

    .overlay {
      width: 90%;
      margin: 5%;
      position: relative;
      transition: opacity .4s ease-in-out;
    }
    .overlay-title {
      visibility: hidden;
      position: absolute;

      width: 100%;
      margin-top: 15px;
    }

    &:hover {
      .overlay {
        background-color: $black;
        opacity: 0.3;
      }
      .overlay-title {
        text-align: center;
        color: $black;
        visibility: initial;
        margin-top: 0;
        transition: margin .5s;

      }
    }
  }

  .grid-item img {
    width: 100%;
    height: auto;
    display: block;
  }
}
