@import 'global';

a {
  text-decoration: none;
  color: $black;
  &:visited {
    text-decoration: none;
    color: $black;
  }
}

h1 {
  @include serif;
}

h2 {
  @include serif;
}

h6 {
  font-size: 1rem;
  line-height: 1.8;
  @include sans-serif;
}

nav {
  position: fixed;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
  z-index: 2;
  @include serif;

  &.index {
    color: white;
    position: absolute;
    .filter-work {
      position: absolute;
      left: $standard-bumper;
      @include sans-serif;
    }
    .about-link {
      @include sans-serif;
      font-weight: 400;
      color: white;
      position: absolute;
      right: $standard-bumper;
      padding-top: 6px;
      &:hover{
        text-decoration: underline;
      }
    }
    #logo {
      opacity: 0;
    }
    &.down {
      background-color: white;
      color: $black;
      top: -50px;
      .about-link {
        color: $black;
      }
    }
    &.scrolled {
      z-index: 5;
      top: 0;
      position: fixed;
      transition: top 0.5s ease-in-out;
      &.tagged{
        position: relative;
      }
      #logo {
        transition: opacity $mid-transition;
        opacity: 1;
        display: inline-block;
        transform-style: preserve-3d;
        backface-visibility: hidden;
        padding: 0 5px;
      }

      #filters {
        .tags-container{
          min-width: 100px;
          margin-top: 38px;
          transition: $mid-transition background-color;
          background-color: rgba(255,255,255, 0);
        }
        &.active{
          .tags-container{
            background-color: rgba(255,255,255, 0.8);
          }
        }
        .tag {
          color: $black;
          a{
            color: $black;
          }
        }
        .filter-work:after {
          background-image: image-url('arrow.svg');
        }
      }
    }
    #filters {
      position: absolute;
      display: block;
      .filter-work {
        @include sans-serif;
        font-weight: 400;
        cursor: pointer;
        position: absolute;
        left: $standard-bumper;
        padding-top: 6px;
        @media #{$medium-up}{
          &:after {
            content: "";
            width: 10px;
            position: absolute;
            background-size: 10px 20px;
            height: 20px;
            transform: rotate(-90deg);
            margin-left: 10px;
            background-image: image-url('white-arrow.svg');
            transition: $mid-transition transform;
          }
        }
      }

      .tag {
        @include sans-serif;
        padding-top: 10px;
        text-align: left;
        font-weight: 400;
        opacity: 0;
        pointer-events: none;
        transition: $mid-transition opacity, $mid-transition transform;
        transform: translateY(4px);
        a{
          color: white;
          &.active {
            text-decoration: underline
          }
          &:hover {
            text-decoration: underline
          }
        }
      }

      &.active {
        .filter-work:after {
            transform: rotate(90deg);
        }
        .tag {
          transform: translateY(0px);
          opacity: 1;
          pointer-events: auto;
        }
      }
    }
  }

  .exit {
    position: absolute;
    right: $standard-bumper;
    width: 30px;
    top: 10px;

    img {
      width: 100%;
    }
  }
}

.tags-container{
  margin-top: 20px;
  padding: 5px 20px 10px;
  transition: 0 background-color;
}

#content {
  opacity: 0;
  transition: opacity 1s ease-out;

  &.loaded {
    opacity: 1;
  }
}

.swiper-button-prev, .swiper-button-next{
  width: 40px;
  height: 60px;
  background-size: 40px 60px;
}

.swiper-button-prev{
  background-image: image-url('swiper-arrow.svg');
  left: 15px;
}

.swiper-button-next{
  background-image: image-url('swiper-arrow.svg') !important;
  transform: rotate(180deg);
  right: 15px;
}
