@import 'global';

a {
  text-decoration: none;
  color: $black;
  &:visited {
    text-decoration: none;
    color: $black;
  }
}

h1 {
  @include serif;
}

h2 {
  @include serif;
}

h6 {
  font-size: 1rem;
  line-height: 1.8;
  @include sans-serif;
}

nav {
  position: fixed;
  width: 100%;
  height: 70px;
  text-align: center;
  padding-top: 25px;
  font-size: 1.2em;
  z-index: 2;
  @include serif;

  &.index {
    color: white;
    position: absolute;
    .filter-work {
      position: absolute;
      left: $standard-bumper;
      @include sans-serif;
    }
    .about-link {
      color: white;
      position: absolute;
      right: $standard-bumper;
      @include sans-serif;
    }
    &.down {
      background-color: white;
      color: $black;
      top: -70px;
      border-bottom: 1px solid $black;
      .about-link {
        color: $black;
      }
    }
    &.scrolled {
      top: 0;
      position: fixed;
      -webkit-transition: top 0.5s ease-in-out;
      -moz-transition: top 0.5s ease-in-out;
      -o-transition: top 0.5s ease-in-out;
      -ms-transition: top 0.5s ease-in-out;
      transition: top 0.5s ease-in-out;

    }
  }

  .exit {
    position: absolute;
    right: $standard-bumper;
    width: 30px;
    top: $standard-bumper;

    img {
      width: 100%;
    }
  }
}

#content {
  opacity: 0;
  transition: opacity 1s ease-out;

  &.loaded {
    opacity: 1;
  }
}
