@import "active_admin/mixins";
@import "active_admin/base";
@import "activeadmin-sortable";
@import "jquery.minicolors";
@import "active_admin/editor/wysiwyg";

body.active_admin {
  @import 'select2';

  .sortable-placeholder {
    border: 1px dashed #CCC;
    background-color: #f9f9f9;
    height: 80px;
    margin-bottom: 10px;
  }
}
